body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content__article {
  margin: 20px 0;
  width: 70%;
}

.content__new-words {
  margin-top: 30px;
  border-top: 1px solid #ededed;
  padding-top: 20px;
}